html {
    font-size: 20px;
    background-color: #f4effc; /* Fondo suave */
    font-family: 'Arial', sans-serif;
}

.uno {
    border: 3px solid #67568c; /* Borde con el color terciario */
    border-radius: 25px; /* Bordes redondeados más suaves */
    background: #e2daeb; /* Fondo suave */
    font-size: 25px;
    padding: 20px; /* Agregar relleno dentro de la caja */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px;
}

.dos {
    border: 3px solid #67568c;
    border-radius: 25px;
    background-color: #fbdd74; /* Fondo cálido */
    font-size: 25px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #1f1235; /* Color oscuro para el encabezado */
    margin: 40px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave en el título */
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    text-align: left;
    color: #1b1425;
    margin-bottom: 15px;
    text-transform: uppercase; /* Letras en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
}

p {
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    color: #1b1325;
    line-height: 1.6; /* Mejorar la legibilidad del texto */
    margin: 10px 0;
}

mark {
    background-color: #ff6e6c; /* Resaltar con color suave */
    padding: 0 5px;
    border-radius: 5px; /* Bordes redondeados */
}

ul {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #1b1325;
    margin-left: 20px;
}

ul li {
    margin: 8px 0;
    list-style-type: disc;
}

a {
    color: #1f1235;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff6e6c; /* Cambio de color en hover para enlaces */
    text-decoration: underline;
}
